<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello <%= user.username   %>   </h1>
    <form action="/user/blog" method="post">
      <input type="text" name="title" />
      <br />
      <br />
      <input type="url" name="img" />
      <br />
      <br />
      <br />
      <textarea name="content" id="" cols="30" rows="10"></textarea>
      <br />
      <input type="submit" name="" id="" value="Add Blog">
    </form>
  </body>
</html>
